<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>北京银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>邮储银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>交通银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>浦发银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>中国光大银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>兴业银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>平安银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>广发银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>民生银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>华夏银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>中信银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>招商银行</key>
	<dict>
		<key>bankLogo</key>
		<string></string>
		<key>bankNum</key>
		<string></string>
	</dict>
	<key>中国工商银行</key>
	<dict>
		<key>bankNum</key>
		<string></string>
		<key>bankLogo</key>
		<string></string>
	</dict>
	<key>中国银行</key>
	<dict>
		<key>bankLogo</key>
		<string>2</string>
		<key>bankNum</key>
		<string>1</string>
	</dict>
	<key>中国建设银行</key>
	<dict>
		<key>bankNum</key>
		<string>1</string>
		<key>bankLogo</key>
		<string>a.png</string>
	</dict>
	<key>中国农业银行</key>
	<dict>
		<key>bankLogo</key>
		<string>b.png</string>
		<key>bankNum</key>
		<string>2</string>
	</dict>
</dict>
</plist>
