<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>command</key>
		<string>index.html</string>
		<key>className</key>
		<string>MKHomePageViewController</string>
		<key>isMainTab</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>categories.html</string>
		<key>className</key>
		<string>MKClassificationViewController</string>
		<key>isMainTab</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>discover.html</string>
		<key>className</key>
		<string>GGDiscoverViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>isMainTab</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>cart.html</string>
		<key>className</key>
		<string>MKShoppingCartViewController</string>
		<key>createMethod</key>
		<string>create</string>
	</dict>
	<dict>
		<key>command</key>
		<string>mine.html</string>
		<key>className</key>
		<string>UserCenterViewController</string>
		<key>isMainTab</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>list.html</string>
		<key>className</key>
		<string>MKProductListViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>params</key>
		<array>
			<dict>
				<key>urlParamName</key>
				<string>title</string>
				<key>defaultValue</key>
				<string>宝贝列表</string>
			</dict>
			<dict>
				<key>urlParamName</key>
				<string>category_id</string>
				<key>classParamName</key>
				<string>categoryId</string>
			</dict>
			<dict>
				<key>urlParamName</key>
				<string>brand_id</string>
				<key>classParamName</key>
				<string>brandId</string>
			</dict>
			<dict>
				<key>urlParamName</key>
				<string>key_word</string>
				<key>classParamName</key>
				<string>keyWord</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>command</key>
		<string>detail.html</string>
		<key>className</key>
		<string>MKItemDetailViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>params</key>
		<array>
			<dict>
				<key>urlParamName</key>
				<string>item_uid</string>
				<key>classParamName</key>
				<string>itemId</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>command</key>
		<string>my-order.html</string>
		<key>className</key>
		<string>MKOrdersViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>params</key>
		<array>
			<dict>
				<key>urlParamName</key>
				<string>order_type</string>
				<key>classParamName</key>
				<string>orderStatus</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>command</key>
		<string>order-detail.html</string>
		<key>className</key>
		<string>MKOrderDetailViewController</string>
		<key>params</key>
		<array>
			<dict>
				<key>urlParamName</key>
				<string>order_uid</string>
				<key>classParamName</key>
				<string>orderUid</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>command</key>
		<string>logistics.html</string>
		<key>className</key>
		<string>MKDeliveryViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>params</key>
		<array>
			<dict>
				<key>urlParamName</key>
				<string>order_uid</string>
				<key>classParamName</key>
				<string>orderUid</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>command</key>
		<string>my-coupon.html</string>
		<key>className</key>
		<string>MKCouponViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>register.html</string>
		<key>className</key>
		<string>SignUpViewController</string>
		<key>createMethod</key>
		<string>create</string>
		<key>isModal</key>
		<true/>
	</dict>
	<dict>
		<key>command</key>
		<string>login.html</string>
		<key>className</key>
		<string>MKLoginViewController</string>
		<key>isModal</key>
		<true/>
		<key>createMethod</key>
		<string>create</string>
	</dict>
</array>
</plist>
